# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
env/
env1/
venv/
.venv/

# Environment Variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Data files
/data/

# Logs
*.log